@import "compass/reset";
@import "compass/css3";

body {
  color: white;
  background-color: black;
  .content {
    background-image: url("../images/Jay.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 1000px;
    background-color: black;
    color: white;
    text-align: right;

    .time {
      height: 300px;
      img {
        width: 100%;
      }

      .hello {
        position: absolute;
        left: 100px;
        color: #4484c2;
        font-weight: bold;
        font-size: 30px;
        text-align: left;
        color: white;
        padding-top: 220px; 
        p{
          margin-bottom: 20px;
        } 
      }
    }
  }
  .containter{
    width: 1440px;
    margin: 0 auto;
    h2 {
      height: 100px;
      margin: 30px;
      text-align: center;
      font-size: 30px;
      font-style:inherit; 
    }


  }
}

.stories {
  border-right: 6px solid red;
  width: 50%; 
}
.story {
  padding: 10px;
  text-align: right;  
  // width: 50%;
  height: 350px;

  &:nth-child(odd){
    transform: translate(230%);
    width: 300px;
    text-align: left;

  }
  img{
    height: 320px; 
    width: 280px;
    margin-top: 10px; 
  }
}
